<% if user_signed_in? && current_user.already_comment?(post) %>

<span uk-icon="icon:comment; ratio:2.5" class="uk-text-danger"></span>

<% else %>

<span uk-icon="icon:comment; ratio:2.5" class="uk-text-emphasis"></span>

<% end %>

<%= link_to post.comments.count, commented_users_post_path(post), remote: true, class: "uk-link-muted" %>
