<% if user_signed_in? %>

<% if current_user.already_liked?(post) %>
<%= link_to post_like_path(post_id: post.id ,id: post.likes[0].id), method: :delete, remote: true do %>
<span uk-icon="icon:heart; ratio:2.5" class="uk-text-danger"></span>
<% end %>

<% else %>

<%= link_to post_likes_path(post.id), method: :post, remote: true do %>
<span uk-icon="icon:heart; ratio:2.5" class="uk-text-emphasis"></span>
<% end %>
<% end %>

<% else %>

<span uk-icon="icon:heart; ratio:2.5" class="uk-text-emphasis"></span>

<% end %>


<a class="uk-button uk-button-text uk-text-middle" href="#likecount<%= post.id %>" uk-toggle><%= post.likes.count %></a>
