$('#user_post').html("<div uk-spinner></div>");
$('#user_likes_post').html("<div uk-spinner></div>");
$('#user_followings').html("<%= escape_javascript(render partial: 'users/users_info', locals: {users: @followings_user}) %>");
$('#user_followers').html("<div uk-spinner></div>");
