<div class="uk-text-center">
  <div class="uk-heading-small uk-text-lighter">
    <%= @user.name %><%= @title %>
  </div>
</div>

<div class="uk-padding show">
  <%= render 'users/users_info' , users: @users %>
</div>

