<button class="loadmore-btn uk-button uk-width-1-1 uk-margin-bottom">さらに表示</button>
<div class="page-load-status" style="display: none;">
  <div class="infinite-scroll-request">
    <div uk-spinner></div>
  </div>
  <p class="infinite-scroll-last">これ以上ありません</p>
  <p class="infinite-scroll-error">No more pages to load</p>
</div>
