<div id="search-modal" uk-modal>
	<div class="uk-modal-dialog">
		<button class="uk-modal-close-default" type="button" uk-close></button>
		<div class="uk-modal-header">
			<h2 class="uk-modal-title">検索</h2>
		</div>
		<div class="uk-modal-body">
			<%= render 'searchs/search_form'%>
		</div>
	</div>
</div>

<div id="users-list-modal" uk-modal>
	<div class="uk-modal-dialog">
		<button class="uk-modal-close-default" type="button" uk-close></button>
		<div class="uk-modal-header">
			<h2 class="uk-modal-title"></h2>
		</div>
		<div class="uk-modal-body">
			<div id="users-list"></div>
		</div>
	</div>
</div>
