<h1>旅行アプリ</h1>

<% if user_signed_in? %> <!-- ユーザーがログインしているか調べる -->
  <!-- ユーザーがログインしていた時の処理 -->
  <%= render 'loggedin' %>
<% else %>
  <!-- ユーザーがログインしていなかった時の処理 -->
  <%= render 'nologgedin' %>
<% end %>