<div class="uk-padding-small">
    <p class="uk-heading-small uk-text-lighter uk-text-center">タイムライン</p>
</div>

<div class="uk-container uk-container-small">
    <%= render 'posts/timeline' , object: @posts %>
</div>