<% provide(:title, "##{@tag_name}") %>
<div class="uk-container">
  <div class="uk-text-center">
    <span class="uk-badge"><%= @tag_name %></span>のタグが付いた投稿一覧
  </div>

  <%= render 'posts/post' , posts: @posts %>
</div>
