$('#timeline_posts').html("<div uk-spinner></div>");
$('#new_arrival_posts').html("<div uk-spinner></div>");
$('#popular_posts').html("<%= escape_javascript(render partial: 'posts/timeline', locals: {posts: @popular_posts}) %>");
