<div class="uk-container">
    <div class="uk-padding-small">
        <%= render 'searchs/search_form'%>
    </div>

    <% if @result_type == "ユーザー"%>
    <%= render 'users/users_info' , users: @users %>
    <% elsif @result_type == "投稿" %>
    <%= render 'posts/post' , posts: @posts %>
    <% end %>
</div>
