<div class="uk-text-center">
    <div class="uk-heading-small uk-text-lighter">
        <%= @ken.name %>
    </div>
    <% if  user_signed_in? && visited_ken?(current_user.id, @ken.id) %>
    <%= link_to "行ってない県状態にする", user_ken_path(@user_ken, ken_id: @ken.id), method: :delete %>
    <% end %>
</div>

<div class="uk-container">
    <%= render 'posts/post' , object: @posts %>
</div>