<head>
  <title>Jaravlate</title>
  <%= csrf_meta_tags %>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="佐藤泰知です" />
  <meta name="keywords" content="Jaravlate,旅行,日本地図制覇,SNS" />
  <link rel="canonical" href="https://murmuring-escarpment-11805.herokuapp.com" />
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  
  
  <!--Japanmap-->
  <%= javascript_include_tag 'jquery.japan-map.min.js' %>
  
  
</head>